html{
  background-color: lightblue;
  color: black;
  background-repeat:no-repeat;
  color:blueviolet;
  font-size: 30px;


}
fieldset {
  border: none;
  margin: 1rem 0;
}
header {
  /* For more about flexbox, see https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  display: flex;
  align-items: center;
}
header img {
  height: 64px;
  margin-right: 1em;
}
main {
  display: flex;
  justify-content: space-between;
}
aside {
  margin-left: 2em;
}
footer {
  margin-top: 1rem;
  font-size: small;
  color: gray;
}
img {
  padding: 30px;
  text-align: center;
  src: 'client/src/public/images/cal.png';
}
fieldset {
  border: none;
  margin: 1rem 0;
}
header {
  /* For more about flexbox, see https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  display: flex;
  align-items: center;
  display: flex;
  align-items: center;
  background-color: yellow;
  color:blueviolet;
}
header img {
  height: 64px;
  margin-right: 1em;
}
main {
  display: flex;
  justify-content: space-between;
}
aside {
  margin-left: 2em;
}
footer {
  margin-top: 1rem;
  font-size: small;
  color: gray;
}
/*
body {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 150px;
}

.user-and-events {
  width: 33%;
  margin-left: 100px;
}

.delete-users {
 width: 33%;
}

.search-toolbar {
  width: 33%;
}

fieldset {
  border: none;
  margin: 1rem 0;
}

header {
  /* For more about flexbox, see https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
  /* display: flex;
  align-items: center;
  background-color: aqua;
} */

header img {
  height: 64px;
  margin-right: 1em;
}

h1, h2 {
  font-family: 'Hubballi', cursive;
}

h3 {
  font-family: 'Varela Round', sans-serif;
  text-decoration: underline;
}

label {
  font-family: 'Architects Daughter', cursive;
  padding-right: 5px;
}

main {
  display: flex;
  /* justify-content: space-between; */
}

aside {
  margin-left: 2em;
}

footer {
  margin-top: 1rem;
  font-size: small;
  color: gray;
}
